<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>512499142621-qqikp67c6p6oq3jigctj0476uad54gul.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.512499142621-qqikp67c6p6oq3jigctj0476uad54gul</string>
	<key>API_KEY</key>
	<string>AIzaSyDd0BvK0_OLxP41YBwKcs9siy6wj5--l9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>512499142621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.brightSummit.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchat01-164f2</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchat01-164f2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:512499142621:ios:88c3f6c15cd68cba0cf034</string>
</dict>
</plist>